
/*
    2019 - Hard Rock Studio 
    Simple Material Design by Breno Campos Ribeiro

    --Material Design--

    GitHub Repository: https://github.com/Brenin1991/simple-material-design
    License: https://drive.google.com/open?id=11ZTUlB6qpoKk_XgD6_dtKntQOfCsuQj8
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* App bar */
@import url('../css/app-bar/style.css');
@import url('../css/app-bar/botton-app-bar.css');
@import url('../css/app-bar/top-app-bar.css');
/* Buttons */
@import url('../css/button/style.css');
@import url('../css/button/fb-button.css');
@import url('../css/button/ob-button.css');
@import url('../css/button/rb-button.css');
@import url('../css/button/tb-button.css');
/* Text field */
@import url('../css/text-field/style.css');
/* Background */
@import url('../css/background/style.css');
/* Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

