
/*
    2019 - Hard Rock Studio 
    Simple Material Design by Breno Campos Ribeiro

    --Material Design (App Bar Botton)--

    GitHub Repository: https://github.com/Brenin1991/simple-material-design
    License: https://drive.google.com/open?id=11ZTUlB6qpoKk_XgD6_dtKntQOfCsuQj8
*/

/*  Colors*/

/* Red family*/

/* Red 100*/
.ab-botton-red-100{
    background-color: #ffcdd2;
   
}

.ab-botton-red-100 .item{
    color: rgba(0, 0, 0, 0.5);
} 

.ab-botton-red-100 .label{

}

.ab-botton-red-100 .item:hover{
    color: #000000;
} 

/* Red A 100*/
.ab-botton-red-a-100{
    background-color: #ff8a80;
   
}

.ab-botton-red-a-100 .item{
    color: rgba(0, 0, 0, 0.5);
} 

.ab-botton-red-a-100 .label{

}

.ab-botton-red-a-100 .item:hover{
    color: #000000;
} 

/* Red 200*/
.ab-botton-red-200{
    background-color: #ef9a9a;
   
}

.ab-botton-red-200 .item{
    color: rgba(0, 0, 0, 0.5);
} 

.ab-botton-red-200 .label{

}

.ab-botton-red-200 .item:hover{
    color: #000000;
} 

/* Red A 200*/
.ab-botton-red-a-200{
    background-color: #ff5252;
   
}

.ab-botton-red-a-200 .item{
    color: rgba(0, 0, 0, 0.5);
} 

.ab-botton-red-a-200 .label{

}

.ab-botton-red-a-200 .item:hover{
    color: #000000;
} 

/* Red 300*/
.ab-botton-red-300{
    background-color: #e57373;
   
}

.ab-botton-red-300 .item{
    color: rgba(0, 0, 0, 0.5);
} 

.ab-botton-red-300 .label{

}

.ab-botton-red-300 .item:hover{
    color: #000000;
} 

/* Red 400*/
.ab-botton-red-400{
    background-color: #ef5350;
   
}

.ab-botton-red-400 .item{
    color: rgba(0, 0, 0, 0.5);
} 

.ab-botton-red-400 .label{

}

.ab-botton-red-400 .item:hover{
    color: #000000;
} 

/* Red A 400*/
.ab-botton-red-a-400{
    background-color: #ff1744;
   
}

.ab-botton-red-a-400 .item{
    color: rgba(0, 0, 0, 0.5);
} 

.ab-botton-red-a-400 .label{

}

.ab-botton-red-a-400 .item:hover{
    color: #000000;
} 

/* Red 500*/
.ab-botton-red-500{
    background-color: #f44336;
   
}

.ab-botton-red-500 .item{
    color: rgba(0, 0, 0, 0.5);
} 

.ab-botton-red-500 .label{

}

.ab-botton-red-500 .item:hover{
    color: #000000;
} 

/* Red 600*/
.ab-botton-red-600{
    background-color: #e53935;
   
}

.ab-botton-red-600 .item{
    color: rgba(0, 0, 0, 0.5);
} 

.ab-botton-red-600 .label{

}

.ab-botton-red-600 .item:hover{
    color: #000000;
} 

/* Red 700*/
.ab-botton-red-700{
    background-color: #d32f2f;
   
}

.ab-botton-red-700 .item{
    color: rgba(255, 255, 255, 0.5);
} 

.ab-botton-red-700 .label{

}

.ab-botton-red-700 .item:hover{
    color: rgba(255, 255, 255);
} 

/* Red A 700*/
.ab-botton-red-a-700{
    background-color: #d50000;
   
}

.ab-botton-red-a-700 .item{
    color: rgba(255, 255, 255, 0.5);
} 

.ab-botton-red-a-700 .label{

}

.ab-botton-red-a-700 .item:hover{
    color: rgba(255, 255, 255);
} 

/* Red 800*/
.ab-botton-red-800{
    background-color: #c62828;
   
}

.ab-botton-red-800 .item{
    color: rgba(255, 255, 255, 0.5);
} 

.ab-botton-red-800 .label{

}

.ab-botton-red-800 .item:hover{
    color: rgba(255, 255, 255);
} 

/* Red 900*/
.ab-botton-red-900{
    background-color: #b71c1c;
   
}

.ab-botton-red-900 .item{
    color: rgba(255, 255, 255, 0.5);
} 

.ab-botton-red-900 .label{

}

.ab-botton-red-900 .item:hover{
    color: rgba(255, 255, 255);
} 


