
/*
    2019 - Hard Rock Studio 
    Simple Material Design by Breno Campos Ribeiro

    --Material Design (Text Field)--

    GitHub Repository: https://github.com/Brenin1991/simple-material-design
    License: https://drive.google.com/open?id=11ZTUlB6qpoKk_XgD6_dtKntQOfCsuQj8
*/

/* Container */
.group{ 
    /* Size */
    border: none;
    outline: none;

    /* Position */
    position: relative;
    display: block;
    margin: 2em;
   
    /* Font */
    letter-spacing: 0;
    font-weight: bold;

    /* Cursor */
    cursor: pointer;
    
    /* Remove selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Input */
input{
    /* Size */
    width:300px;
    height: 55px;
    border:none;
    display:block;
    border-radius: 3px;

    /* Position */
    font-size:18px;
    padding:10px 10px 10px 5px;
    
    /* Color */
    background-color: rgba(201, 199, 199, 0.479); 
}

input:focus{ 
    outline:none; 
}

input:required{
    color: rgb(70, 69, 69);
    left:20px;
}

/* Input text */
label{
    /* Size */
    font-size:18px;
    font-weight:normal;
    
    /* Position */
    position:absolute;
    pointer-events:none;
    left:20px;
    top:15px;

    /* Color */
    color: rgb(70, 69, 69);
    
    
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

/* Label text */
input:focus ~ label, input:valid ~ label{
    top:-20px;
    font-size:14px;
    color:#5264AE;
}

/* Activation indicator */
.bar{
    position:relative; 
    display:block; 
    width:300px;
}

.bar:before, .bar:after {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%; 
}

/* Active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* Active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* Animations */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	  from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}

.group a{
    margin: 10px;
    left:20px;
    font-size: 13px;
    color: rgb(0, 0, 0, 0.5);
}
