
/*
    2019 - Hard Rock Studio 
    Simple Material Design by Breno Campos Ribeiro

    --Material Design Root--

    GitHub Repository: https://github.com/Brenin1991/simple-material-design
    License: https://drive.google.com/open?id=11ZTUlB6qpoKk_XgD6_dtKntQOfCsuQj8
*/

/* Raised Button Colors*/

.rb-red{
    background-color: #d50000;
    border-color: #cdcdcd;
}

.rb-red:hover{
    background-color: #ff5131;
}

/* Raised Button Colors*/

/* Red A-100 */
.rb-red-a100{
    background-color: #ff8a80;
    border-color: #cdcdcd;
}

.rb-red-a100 a{
    color: #000000;
}

.rb-red-a100 i{
    color: #000000;
}

.rb-red-a100:hover{
    background-color: #ffbcaf;
}

/* Red A-200 */
.rb-red-a200{
    background-color: #ff5252;
    border-color: #cdcdcd;
}

.rb-red-a200 a{
    color: #000000;
}

.rb-red-a200 i{
    color: #000000;
}

.rb-red-a200:hover{
    background-color: #ff867f;
}

/* Red A-400 */
.rb-red-a400{
    background-color: #ff1744;
    border-color: #cdcdcd;
}

.rb-red-a400 a{
    color: #000000;
}

.rb-red-a400 i{
    color: #000000;
}

.rb-red-a400:hover{
    background-color: #ff616f;
}