
/*
    2019 - Hard Rock Studio 
    Simple Material Design by Breno Campos Ribeiro

    --Material Design (Raised Button)--

    GitHub Repository: https://github.com/Brenin1991/simple-material-design
    License: https://drive.google.com/open?id=11ZTUlB6qpoKk_XgD6_dtKntQOfCsuQj8
*/

/* Raised Button Colors*/

/* Red family*/
.rb-red{
    background-color: #d50000;
    border-color: #cdcdcd;
}

.rb-red:hover{
    background-color: #ff5131;
}

/* Red 100 */
.rb-red-100{
    background-color: #ffcdd2;
    border-color: #cdcdcd;
}

.rb-red-100 a{
    color: #000000;
}

.rb-red-100 i{
    color: #000000;
}

.rb-red-100:hover{
    background-color: #ffffff;
}

/* Red A 100 */
.rb-red-a-100{
    background-color: #ff8a80;
    border-color: #cdcdcd;
}

.rb-red-a-100 a{
    color: #000000;
}

.rb-red-a-100 i{
    color: #000000;
}

.rb-red-a-100:hover{
    background-color: #ffbcaf;
}

/* Red 200 */
.rb-red-200{
    background-color: #ef9a9a;
    border-color: #cdcdcd;
}

.rb-red-200 a{
    color: #000000;
}

.rb-red-200 i{
    color: #000000;
}

.rb-red-200:hover{
    background-color: #ffcccb;
}

/* Red A 200 */
.rb-red-a-200{
    background-color: #ff5252;
    border-color: #cdcdcd;
}

.rb-red-a-200 a{
    color: #000000;
}

.rb-red-a-200 i{
    color: #000000;
}

.rb-red-a-200:hover{
    background-color: #ff867f;
}

/* Red 300 */
.rb-red-300{
    background-color: #e57373;
    border-color: #cdcdcd;
}

.rb-red-300 a{
    color: #000000;
}

.rb-red-300 i{
    color: #000000;
}

.rb-red-300:hover{
    background-color: #ffa4a2;
}

/* Red 400 */
.rb-red-400{
    background-color: #ef5350;
    border-color: #cdcdcd;
}

.rb-red-400 a{
    color: #000000;
}

.rb-red-400 i{
    color: #000000;
}

.rb-red-400:hover{
    background-color: #ff867c;
}

/* Red A 400 */
.rb-red-a-400{
    background-color: #ff1744;
    border-color: #cdcdcd;
}

.rb-red-a-400 a{
    color: #000000;
}

.rb-red-a-400 i{
    padding-right: 10px;
    color: #000000;
}

.rb-red-a-400:hover{
    background-color: #ff616f;
}

/* Red 500 */
.rb-red-500{
    background-color: #f44336;
    border-color: #cdcdcd;
}

.rb-red-500 a{
    color: #000000;
}

.rb-red-500 i{
    padding-right: 10px;
    color: #000000;
}

.rb-red-500:hover{
    background-color: #ff7961;
}

/* Red 600 */
.rb-red-600{
    background-color: #e53935;
    border-color: #cdcdcd;
}

.rb-red-600 a{
    color: #000000;
}

.rb-red-600 i{
    color: #000000;
}

.rb-red-600:hover{
    background-color: #ff6f60;
}

/* Red 700 */
.rb-red-700{
    background-color: #d32f2f;
    border-color: #cdcdcd;
}

.rb-red-700 a{
    color: #ffffff;
}

.rb-red-700 i{
    color: #ffffff;
}

.rb-red-700:hover{
    background-color: #ff6659;
}

/* Red A 700 */
.rb-red-a-700{
    background-color: #d50000;
    border-color: #cdcdcd;
}

.rb-red-a-700 a{
    color: #ffffff;
}

.rb-red-a-700 i{
    color: #ffffff;
}

.rb-red-a-700:hover{
    background-color: #ff5131;
}

/* Red 800 */
.rb-red-800{
    background-color: #c62828;
    border-color: #cdcdcd;
}

.rb-red-800 a{
    color: #ffffff;
}

.rb-red-800 i{
    color: #ffffff;
}

.rb-red-800:hover{
    background-color: #ff5f52;
}

/* Red 900 */
.rb-red-900{
    background-color: #b71c1c;
    border-color: #cdcdcd;
}

.rb-red-900 a{
    color: #ffffff;
}

.rb-red-900 i{
    color: #ffffff;
}

.rb-red-900:hover{
    background-color: #f05545;
}