
/*
    2019 - Hard Rock Studio 
    Simple Material Design by Breno Campos Ribeiro

    --Material Design (Button)--

    GitHub Repository: https://github.com/Brenin1991/simple-material-design
    License: https://drive.google.com/open?id=11ZTUlB6qpoKk_XgD6_dtKntQOfCsuQj8
*/

/* Floating Button */
floating-button{
    /* Size */
	width:56px;
    height:56px;
    border-radius: 100%;
    border: none;
    outline: none;
    /* Position */
    position:fixed;
    display: block;
    margin-top:10px;
	bottom:40px;
	right:0px;
    
    /* Font */
	color:#FFF;
    text-align:center;
    margin: 2em;
    letter-spacing: 0;
    font-weight: bold;

    /* Cursor */
    cursor: pointer;
    overflow: hidden;
    
    /* Remove Selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    /* Transition */
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

    /* Shadow */
    -webkit-box-shadow: 0.1px 3px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.24);
    -moz-box-shadow: 0.1px 3px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.24);
    box-shadow: 0.1px 3px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.24);
}

/* Button */
button{
    /* Size */
    min-width: 88px;
    height: 3em;
    border-radius: 3px;
    border: none;
    outline: none;
    /* Position */
    position: relative;
    display: block;
    margin: 2em;
    padding: 12px 20px;
    
    /* Font */
    letter-spacing: 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
    /* Cursor */
    cursor: pointer;
    overflow: hidden;

    /* Remove Selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    /* Transition */
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

    /* Shadow */
    -webkit-box-shadow: 0.1px 3px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.24);
    -moz-box-shadow: 0.1px 3px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.24);
    box-shadow: 0.1px 3px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.24);
}

button a{
    float: right;
}

button i{
    padding-right: 10px;
}

floating-button a{
    float: right;
}

floating-button i{
    margin-top: 30%;
}
